.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 1.5rem;
}

body {
    background-color: aqua;
}

.title {
    margin: 2rem 0 1rem ;
    font-size: 2rem;
}
.fondo{
    background-color: bisque;
}
.fondo2{
    background-color: aqua;
}